* {
  font-family: "lato", sans-serif;
  background: linear-gradient(rgb(102, 6, 6), black);
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: black;
}

section {
  flex-grow: 1;
  background: black;
}

.lineaireSimple {
  background: black;
  width: 100%;
  flex-grow: 1;
  padding-top: 15rem;
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "josefin";
  src: url("./assets/fonts/josefin/JosefinSans-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "josefin", sans-serif;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 0.5rem;
}
/* choice buttons*/
.yes {
  max-width: 100%;
  height: auto;
  color: white;
  text-shadow: 2px 0 0 red, 2px 2px 0 red, 0 2px 0 red, -2px 2px 0 red,
    -2px 0 0 red, -2px -2px 0 red, 0 -2px 0 red, 2px -2px 0 red;
}

/* choice pages*/
h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 3rem;
  background: black;
}

.choice {
  background: black;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

.proposition {
  display: flex;
  justify-content: center;
  color: white;
}

.propose {
  margin: 0;
  padding-left: 1rem;
  font-size: 1.5rem;
  text-shadow: 2px 0 0 red, 2px 2px 0 red, 0 2px 0 red, -2px 2px 0 red,
    -2px 0 0 red, -2px -2px 0 red, 0 -2px 0 red, 2px -2px 0 red;
}

.firstChoice,
.secondChoice,
.yes,
.no,
.propose {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  font-size: 1.5rem;
  background: black;
  border-radius: 30%;
  border: 2px solid rgba(255, 0, 0, 0.589);
  box-shadow: 5px 5px 6px 4px #d91f1f76;
}

.no {
  max-width: 100%;
  height: auto;
  color: white;
  text-shadow: 2px 0 0 red, 2px 2px 0 red, 0 2px 0 red, -2px 2px 0 red,
    -2px 0 0 red, -2px -2px 0 red, 0 -2px 0 red, 2px -2px 0 red;
}

footer {
  background: black;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

footer p {
  text-align: center;
  background: black;
  font-size: small;
}

footer img {
  background: black;
  height: 1rem;
  width: 1rem;
}
#boxFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.genreFilters,
.platformsFilters {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}
.container {
  position: relative;
  width: 100%;
}
.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.imgdetails{
  width: 20%;
}
.bob{
  font-size: 32;
}

img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  border: 2px solid rgb(28, 36, 53);
  font-weight: bold;
  cursor: pointer;
}
button.active {
  background: rgb(65, 98, 168);
  color: white;
}

.imagetohover {
  opacity: 1;
  display: block;
  width: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.texthover {
  background-color: none;
  color: white;
  font-size: 10px;
}

.container:hover .middle {
  opacity: 1;
}
.container:hover .imagetohover {
  opacity: 0.1;
}

.homeButton {
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  background: black;
  border-radius: 30%;
  border: 1px solid rgba(255, 0, 0, 0.589);
  box-shadow: 2px 2px 2px 3px #d91f1f76;
}

.imagetohover {
  opacity: 1;
  display: block;
  width: 100%;
  height: 80%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.texthover {
  background-color: none;
  color: white;
  font-size: 10px;
}
.container:hover .middle {
  opacity: 1;
}
.container:hover .imagetohover {
  opacity: 0.1;
}
.container {
  position: relative;
  width: 100%;
}

/*bouton commencer*/

section img {
  width: 75%;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  background: black;
}

.indiana,
.rambo {
  background: black;
}

.seen,
.look {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  background: black;
  border-radius: 30%;
  border: 1px solid rgba(255, 0, 0, 0.589);
  box-shadow: 2px 2px 2px 3px #d91f1f76;
}

.button2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: black;
}

p {
  background: black;
}

.bande {
  background: black;
}

.button_prime {
  background: black;
}

.prime_button {
  background: black;
  width: 30%;
  height: auto;

}