* {
  margin: 0;
  padding: 0;
  background-image: url("./assets/texture-background.jpg");
  color: white;
  font-family: "lato", sans-serif;
}

@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/lato/Lato-Light.ttf') format("truetype")
}

@font-face {
  font-family: 'josefin';
  src: url('./assets/fonts/josefin/JosefinSans-Bold.ttf') format("truetype");
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "josefin", sans-serif;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 2px;
}

footer {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

footer p {
  text-align: center;
}


#boxFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.genreFilters,
.platformsFilters {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.imagetohover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.texthover {
  background-color: none;
  color: white;
  font-size: 10px;
}
.container:hover .middle {
  opacity: 1;
}
.container:hover .imagetohover {
  opacity: 0.1;
}
.container {
  position: relative;
  width: 100%;
}
